<!--<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" novalidate>-->
<form>
  <p-fieldset legend="Current Details" [toggleable]="true" class="asd">

    <div class="ui-g-12">
      <div class="ui-g-2"></div>

      <div class="ui-g-3">

        <h5 class="data">Address</h5>
        <textarea class="text" rows="5" cols="40" placeholder="Type Here" ([ngModel])="employee.cAddress"></textarea><br>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-2"></div>

        <div class="ui-g-3">
          <p class="data">Country</p>
          <input type="text" class="input1" ([ngModel])="employee.cCountry" placeholder="country" />

          <p class="data">City</p>

          <input type="text" class="input1" ([ngModel])="employee.cCity" placeholder="City" />
        </div>
        <div class="ui-g-6">
          <p class="data">State</p>

          <input type="text" class="input2" ([ngModel])="employee.cState" placeholder="State" />
          <p class="data">Zip Code</p>

          <input type="text" class="input2" ([ngModel])="employee.cZipCode" placeholder="ZipCode" />
        </div>

      </div>

    </div>
  </p-fieldset>

  <p-fieldset legend="Perminent Details" [toggleable]="true" class="asd">

    <div class="ui-g-12">

      <div class="ui-g-2"></div>

      <div class="ui-g-10">


        <input type="checkbox" name="conformation" ([ngModel])="employee.checking">
        <label>Check If Current Address And Perminent Address Is Same</label>
        <h5 class="data">Address</h5>
        <textarea class="text" rows="5" cols="40" placeholder="Type Here" ([ngModel])="employee.pAddress"></textarea><br>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-2"></div>

        <div class="ui-g-3">
          <p class="data">Country</p>
          <input type="text" class="input1" ([ngModel])="employee.pCountry" placeholder="country" />

          <p class="data">City</p>

          <input type="text" class="input1" ([ngModel])="employee.pCity" placeholder="City" />
        </div>
        <div class="ui-g-6">
          <p class="data">State</p>

          <input type="text" class="input2" ([ngModel])="employee.pState" placeholder="State" />
          <p class="data">Zip Code</p>

          <input type="text" class="input2" ([ngModel])="employee.pZipCode" placeholder="ZipCode" />
        </div>

      </div>

    </div>

  </p-fieldset>

</form>
</p-fieldset>
<div class="ui-g">
        <div class="ui-g-2"></div>
        <button [ngClass]="['classO']" (click)="prevPage()" pButton type="button" label="Previous"></button>
        <button [ngClass]="['classT']" (click)="changePage()" pButton type="button" label="Next"></button>
        
      </div>
