<!--<p>
  address-details works!
</p>-->

<div class="ui-g-12">
  <div class="ui-g-2"></div>

  <div class="ui-g-3">
    <h6>Address</h6>
    <textarea class="text" rows="5" cols="40" style="background-color:#302F74" placeholder="Type Here"></textarea><br>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-2"></div>

    <div class="ui-g-3">
      <p class="data">Country</p>
      <input type="text" class="input1" style="background-color:#302F74" placeholder="country" />
      <!--<div class="ui-g-8">-->
      <p class="data">City</p>

      <input type="text" class="input1" style="background-color:#302F74" placeholder="City" />
    </div>
    <div class="ui-g-6">
      <p class="data">State</p>

      <!--<input type="text" class="input" placeholder="state" />-->
      <input type="text" class="input2" style="background-color:#302F74" placeholder="State" />
      <p class="data">Zip Code</p>

      <input type="text" class="input2" style="background-color:#302F74" placeholder="ZipCode" />
    </div>

  </div>