.text{
    background-color: #302F74;    
    border:none;
    color:#FFFFFF;
}

.input1{
    background-color: #302F74;
    width: 100%;
    height: 40%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color:#FFFFFF;
    
}

.input2{
    background-color: #302F74;
    width: 50%;
    height: 40%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color:#FFFFFF;
  
}
.data{
    color:#FFFFFF;
}

.asd{
    text-decoration: none;
}

.classT {
  width: 35%;
  height: 40px;
  background: linear-gradient(45deg, #34ccc6, #92e2f9);
  font-size: 15px;
}

.classO {
  width: 35%;
  height: 40px;
  background-color: #b8b8db;
  font-size: 15px;
}