<!--<p>
  employeegrid works!
</p>-->



<!--<<div>
  <div class="ui-g">
    <div class="ui-g-12 ui-md-3">
      <div class="ui-g" [ngClass]="['ShadowEmployee']">
        <div class="ui-g-3" [ngClass]="['ShadowEmployee-icon']" style=" background-color: #8359FF">
          <i class="pi pi-exclamation-circle"></i><br>
          <i class="pi pi-users"></i>
        </div>
        <div class="ui-g-9" [ngClass]="['ShadowEmployee-text']">
          <p>ShadowEmployee</p><br>
          <i class="pi pi-circle" [ngClass]="['numberBox']">08</i></div>
        <i class="pi pi-circle"></i><br>
      </div>
    </div>
    <div class="ui-g-12 ui-md-3">
      <div class="ui-g" [ngClass]="['ShadowEmployee']">
        <div class="ui-g-3" [ngClass]="['ShadowEmployee-icon']" style=" background-color: #00D98F">
          <i class="pi pi-clock"></i><br>
          <i class="pi pi-users"></i>
        </div>
        <div class="ui-g-9" [ngClass]="['ShadowEmployee-text']">
          <p>Total Employees</p><br>
          <i class="pi pi-circle" [ngClass]="['numberBox']">08</i>
        </div>

      </div>
    </div>
    <div class="ui-g-12 ui-md-3">
      <div class="ui-g" [ngClass]="['ShadowEmployee']">
        <div class="ui-g-3" [ngClass]="['ShadowEmployee-icon']" style=" background-color: #008EFF">
          <i class="pi pi-adjust"></i><br>
          <i class="pi pi-users"></i>
        </div>
        <div class="ui-g-9" [ngClass]="['ShadowEmployee-text']">
          <p>Employee on bench</p><br>
          <i class="pi pi-circle" [ngClass]="['numberBox']">45</i></div>

      </div>
    </div>
    <div class="ui-g-12 ui-md-3">
      <div class="ui-g" [ngClass]="['ShadowEmployee']">
        <div class="ui-g-3" [ngClass]="['ShadowEmployee-icon']" style=" background-color: #FFAD00">
          <i class="pi pi-check-circle"></i><br>
          <i class="pi pi-users"></i>
        </div>
        <div class="ui-g-9" [ngClass]="['ShadowEmployee-text']">
          <p>Non Billable Employee</p><br>
          <i class="pi pi-circle" [ngClass]="['numberBox']">21</i></div>

      </div>
    </div>

  </div>
  <div class="ui-g">
    <app-employeegrid-table [ngClass]="['employeeTable']"></app-employeegrid-table>
  </div>
</div>-->
<!--<app-shadow-emp></app-shadow-emp>-->