<!--<p>
  forgot works!
</p>-->

<!--<div class="body">
<div class="body">
<h2>Forgot Password</h2>
<p>Enter your email and we'll send a link to reset your password </p>
<input type="text" name="Email/userID" class="body">
</div>

</div>-->
<div class="border">
<div class="container">
<h2>Forgot Password</h2>
<p class="message">Enter your email and we'll send a link to reset your password </p>
<!--<input type="text" class="form" placeholder="Email | UserName">-->
<input type="text" class="form" placeholder="Email | UserName" pInputText /><br><br>
<button class="button">Request Password</button><br><br>
<a href="##" class="content1">already have an account?Sign In</a>
<a href="#" class="content2">Sign Up</a>
</div>
</div>