
.ui-dropdown    {
  width:100% !important;
}

.ui-dropdown .ui-inputtext {
    background: #302F74!important;
    color: white;
    transition: .2s;
}
.classOne{

    padding-top: 20px;
    padding-left: 30px
}
.classTwo{

    margin-left: 10px
}


.classT {
  width: 35%;
  height: 40px;
  background: linear-gradient(45deg, #34ccc6, #92e2f9);
  font-size: 15px;
}

.classO {
  width: 35%;
  height: 40px;
  background-color: #b8b8db;
  font-size: 15px;
}