.classOne {
  background-color: #302f74;
  border-color: #302f74;
  outline-color: #302f74;
  border-radius: 5px;
  height: 40px;
  /*margin-left: 30px*/
}
.classTwo {
  background-color: #302f74;
  border-color: #302f74;
  outline-color: #302f74;
  border-radius: 5px;
  height: 40px;
  width: 100%
  /*margin-left: 30px*/
}

.classT {
  width: 35%;
  height: 40px;
  background: linear-gradient(45deg, #34ccc6, #92e2f9);
  font-size: 15px;
}
