*{
    font-family: Roboto, Regular;
}
.ShadowEmployee-text{
   background-color:  #5453A4;
   text-align: center;
   padding-bottom: 20px;
}
.ShadowEmployee-icon {
 text-align: center;
 padding-top:15%;
}