* {
  background-color: #5453a4;
  color: whitesmoke;
  opacity: 100%;
}
.header-div {
border-bottom: 2px solid #302F74;
  padding-top: 20px;
  /*box-shadow: 10px 10px solid grey;*/
}
.sidemenu-div{
    height: 1004px;
    /*border-right: 2px solid grey;*/
}
.employeeId-div{
    background-color: #302F74;
}


.classTwo {
  width: 35%;
  height: 40px;
  background: linear-gradient(45deg, #34ccc6, #92e2f9);
  font-size: 15px;
  margin-top: 40px
}
.classOne {
  width: 35%;
  height: 40px;
  background-color: #B8B8DB;
  font-size: 15px;
  
}
.classThree{

margin-left: 10px;

   padding-left: 20px;
   padding-right: 20px;
}