<div class="ui-g">
  <div class="ui-g-12 " [ngClass]="['header-div']">

    <app-header></app-header>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12" [ngClass]="['sidemenu-div']">
    <app-sidemenu></app-sidemenu>
  </div>
  <div class="ui-g-12" [ngClass]="['employeeId-div']">

    <app-employeegrid></app-employeegrid>
    <button pButton label="Add New" (click)="onClick($event)"></button>

    <p-dialog [visible]="visible" [modal]="true" closable="false">
      
      <p-tabView>

        <p-tabPanel header="Employee" [selected]="currentpage == 0">
          <app-add-employee></app-add-employee>
        </p-tabPanel>


        <p-tabPanel header="Work Details" [selected]="currentpage == 1">
          <app-work-details></app-work-details>
        </p-tabPanel>


        <p-tabPanel header="Personal Details" [selected]="currentpage == 2">
          <app-personal-details></app-personal-details>
        </p-tabPanel>

        <p-tabPanel header="Address" [selected]="currentpage == 3">
          <app-address-details></app-address-details>
        </p-tabPanel>

        <p-tabPanel header="Access Details" [selected]="currentpage == 4">
          <app-access-details></app-access-details>
        </p-tabPanel>


      </p-tabView>
      <!--<div class="ui-g">
        <div class="ui-g-2"></div>
        <button [ngClass]="['classOne']" (click)="prevPage()" pButton type="button" label="Previous"></button>
        <button [ngClass]="['classTwo']" *ngIf="currentpage<=3" (click)="changePage()" pButton type="button" label="Next"></button>
         <button [ngClass]="['classTwo']" *ngIf="currentpage == 4" pButton type="button" label="save"></button>
      </div>-->
    </p-dialog>


  </div>
</div>


