* {
  background-color: #5453a4;
  color: whitesmoke;
  opacity: 100%;
  
}

.header-div {
  border-bottom: 2px solid #302f74;
  padding-top: 20px;
}
.sidemenu-div{
    height: 1004px;
    width:15%;
}
.employeeId-div{
    background-color: #302F74;
     width:85%;
}

.classTwo {
  width: 35%;
  height: 40px;
  background: linear-gradient(45deg, #34ccc6, #92e2f9);
  font-size: 15px;
}

.classOne {
  width: 35%;
  height: 40px;
  background-color: #b8b8db;
  font-size: 15px;
}

.classThree {
  padding-left: 20px;
  padding-right: 20px;
}

*[_ngcontent-c1] {
    background-color: #393975;
}