<div class="ui-g">
  <div class="ui-g-12 " [ngClass]="['header-div']">

    <app-header></app-header>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12" [ngClass]="['sidemenu-div']">
    <app-sidemenu></app-sidemenu>
  </div>
  <div class="ui-g-12" [ngClass]="['employeeId-div']">

    <app-employeegrid></app-employeegrid>
    <!--<p>{{employeeDetails}}</p>-->
    <button pButton label="Add New" (click)="onClick($event)"></button>

    <p-dialog [visible]="visible" [modal]="true" closable="false">

      <p-tabView>

        <p-tabPanel header="Employee" [selected]="currentpage == 0">
          <app-add-employee [employeeValue]="sravani" (pageEvent)="receivingCurrentpage($event)" (page)="savingData($event)" [employeeValue]="employeeDetails"></app-add-employee>
        </p-tabPanel>


        <p-tabPanel header="Work Details" [selected]="currentpage == 1">
          <app-work-details (pageEvent)="receivingCurrentpage($event)"></app-work-details>
        </p-tabPanel>


        <p-tabPanel header="Personal Details" [selected]="currentpage == 2">
          <app-personal-details [employeeValue]="sravani" (pageEvent)="receivingCurrentpage($event)" (page)="savingData($event)"  [employeeValue]="employeeDetails"></app-personal-details>
       
        </p-tabPanel>

        <p-tabPanel header="Address" [selected]="currentpage == 3">
          <app-address-details [sravani]="sravani" (pageEvent)="receivingCurrentpage($event)" (page)="savingData($event)" ></app-address-details>
        </p-tabPanel>

        <p-tabPanel header="Access Details" [selected]="currentpage == 4">
          <app-access-details (pageEvent)="receivingCurrentpage($event)"></app-access-details>
        </p-tabPanel>


      </p-tabView>

    </p-dialog>


  </div>
</div>