* {
  background-color: #5453a4;
  color: whitesmoke;
  opacity: 100%;
}
.header-div {
  border-bottom: 2px solid grey;
  padding-top: 20px;
  /*box-shadow: 10px 10px solid grey;*/
}
.sidemenu-div{
    height: 1004px;
    border-right: 2px solid grey;
}
.employeeId-div{
    background-color: #302F74;
}