<div class="ui-g">
  <div class="ui-g-2"></div>
  <div class="ui-g-10">
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <small>Date of Birth</small>
          <p-calendar [(ngModel)]="date2" [showIcon]="true"></p-calendar> <span style="margin-left:35px">{{date2|date}}</span>
        </div>

        <div class="class3">
          <p style="margin-top:10px;margin-left:10px">Gender</p>
        </div>
        <div class="ui-g" style="width:250px;margin-bottom:10px">
          <div class="ui-g-4" style="margin-top:15px">
            <p-radioButton name="Gender" value="Male" label="Male" [(ngModel)]="val1"></p-radioButton>
          </div>
          <div class="ui-g-6" style="margin-top:15px">
            <p-radioButton name="Gender" value="Female" label="Female" [(ngModel)]="val1"></p-radioButton>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="ui-g">
  <div class="ui-g-2"></div>
  <div class="ui-g-10">
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <small>Marital Status</small>
          <p-dropdown [options]="department" [autoWidth]="false" [(ngModel)]="selectedDepartment" placeholder="select department">

          </p-dropdown>
        </div>
        <div class="ui-grid-col-4" style="margin-top:0px;margin-left:22px">
          <small>Date of Birth</small>
          <p-calendar [(ngModel)]="date2" [showIcon]="true"></p-calendar> <span style="margin-left:35px">{{date2|date}}</span>
        </div>

      </div>

    </div>

  </div>
</div>
<div class="ui-g">
  <div class="ui-g-2"></div>

  <div class="ui-g-4">
    <small>Phone No</small>
    <input [ngClass]="['classOne']" id="in" type="text" size="30" pInputText [(ngModel)]="text" placeholder="First Name">
  </div>
  <div class="ui-g-4" style="margin-left:20px">
    <small>Blood Group</small>
    <input [ngClass]="['classOne']" id="in" type="text" size="30" pInputText [(ngModel)]="text" placeholder="Last Name">
  </div>
  <div class="ui-g-2"></div>
</div>


<div class="ui-g">
  <div class="ui-g-2"></div>

  <div class="ui-g-4">
    <small>Pan No</small>
    <input [ngClass]="['classOne']" id="in" type="text" size="30" pInputText [(ngModel)]="text" placeholder="First Name">
  </div>
  <div class="ui-g-4" style="margin-left:20px">
    <small>Aadar No</small>
    <input [ngClass]="['classOne']" id="in" type="text" size="30" pInputText [(ngModel)]="text" placeholder="Last Name">
  </div>
  <div class="ui-g-2"></div>
</div>