.class3{

    margin-top: 15px
}

.ui-dropdown    {
  width:100% !important;
}
.classOne {
  background-color: #302f74;
  border-color: #302f74;
  outline-color: #302f74;
  border-radius: 5px;
  height: 30px;
  width:90%
  /*margin-left: 30px*/
}
.ui-inputtext {
    background: #302f74;
}