*{
    font-family: Roboto, Regular;
}

.ShadowEmployee {

  border-radius: 10px;
}
.ShadowEmployee-icon {
  border-right: 2px solid gray;
 text-align: center;
 padding-top:15%;
}
.ShadowEmployee-text{
   background-color:  #5453A4;
   text-align: center;
   padding-bottom: 20px;
}
.numberBox{
  padding: 20px;
  background-color:white; 
  border-radius:50px; 
  color:black
}