
 <div class="ui-g">
      <div class="ui-g" [ngClass]="['ShadowEmployee']">
        <div class="ui-g-3" [ngClass]="['ShadowEmployee-icon']" style=" background-color: #008EFF">
           <img src="./assets/Icons/Non Billable Employee.svg" alt="Total Employees" width="50px" height="50px">
        </div>
        <div class="ui-g-9" [ngClass]="['ShadowEmployee-text']">
          <p>Non Billable Employee</p><br>
          <!--<i class="pi pi-circle" [ngClass]="['numberBox']">21</i></div>-->
          <button (click)="Status()" type="submit" style="border-radius:50%;font-size:30px">{{this.count}}</button>

      </div>
    </div>