

  <div class="ui-g">
    <div class="ui-g" [ngClass]="['ShadowEmployee']">
        <div class="ui-g-3" [ngClass]="['ShadowEmployee-icon']" style=" background-color: #8359FF">
          <img src="/assets/Icons/Shadow Employee.svg" alt="ShadowEmployee" width="50px" height="50px">
        </div>
        <div class="ui-g-9" [ngClass]="['ShadowEmployee-text']">
          <p>ShadowEmployee</p><br>
          <!--<button (click)="Status()" type="submit" >{{this.count}}</button>-->
          <p>{{this.count}}</p>
          </div>
      </div>
  </div>

